.jumbotron {
    background-color: yellowgreen;
    color: black;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-top: 0px;
}